@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-darkGray;
  }
  
  body {
    @apply bg-background text-textPrimary antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
